body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-add-to-calendar__dropdown ul {

  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 20px;
}

.react-add-to-calendar__dropdown ul li .fa {
  padding: 5px;
}

.dropdown ul {
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 20px;
}


.dropdown ul li .fa {
  padding: 5px;
}